@page
@model ResumeWebsite.Pages.kuldeepModel
@{
    ViewData["Title"] = "Kuldeep";
}

<div>
    <!-- Mobile Only header -->
    <div class="row mobileOnly">
        <div class="col-4">
            <div class="user-pic-div">
                <img src="images/kd.JPG" alt="Kuldeep Singh" class="rounded-circle align-items-center user-pic">
            </div>
        </div>
        <div class="col-7 offset-1" style="margin-top:10px">
            <div class="secondary-color">
                <a href="mailto:in.singhkuldeep@gmail.com" target="_new" class="nav-link">
                    <i class="fs-5 bi-envelope-at"></i><span style="padding-left: 5px;" class="">in.singhkuldeep@gmail.com</span>
                </a>
            </div>
            <div><i class="fs-5 bi-telephone"></i><span style="padding-left: 5px;" class="">+44 7779563361</span></div>
            <div><i class="fs-5 bi-pin-map"></i><span style="padding-left:5px;" class="">London, UK</span></div>
            <div><i class="fs-5 bi-cake2"></i><span style="padding-left:5px;" class="">Sept 10</span></div>
            <div style="margin-top:10px;" class="primary-color">
                <i class="fs-5 bi-door-open"></i><span style="padding-left: 5px;" class="">Visitors:</span><span id="visitorCount1"></span>
            </div>
        </div>
        <div class="col-12">
            <h4>Kuldeep Singh</h4>
            <div class="primary-color">CLOUD ARCHITECT | DATA & AI | ESG</div>
        </div>
    </div>

    <!-- About section -->
    <section id="about">
        <div class="section-title">
            <h2><i class="bi-person-circle"></i> Summary</h2>
        </div>
        <div class="content-box">
            <!--<h1 style="color: var(--fontColor1); ">
                Hello! I am <strong>Kuldeep</strong>
            </h1>-->
            <p>
                Kuldeep is highly skilled and motivated professional with over a decade of experience in software engineering, cloud architecture and project management.
                <br>With a strong technical foundation and extensive experience in the IT industry, Kuldeep has successfully led numerous complex software development projects from inception to completion. His expertise lies in Microsoft Azure Cloud, Data & analytics, DevOps, ESG Sustainability development, agile methodologies and many more.
            </p>
            @* <p>
            Throughout his career, Kuldeep has demonstrated exceptional problem-solving skills and a commitment to delivering high-quality results. He is known for his strong leadership abilities and the ability to effectively collaborate with cross-functional teams. Kuldeep is passionate about leveraging technology to drive innovation and streamline business processes. With a proven track record of success, he is dedicated to delivering outstanding solutions that exceed client expectations.
            </p>*@
            <p>
                Kuldeep is Microsoft certified Cloud Solution Architect expert, DevOps Expert, Customer Data Platform specialist, Power BI Analyst, Security and Data engineer.
                <br>#Azure #CloudArchitect #SolutionDesign #ModernDataArchitecture #Data&Analytics
            </p>
        </div>
    </section>
    <!-- end About section -->
    <!-- skills section -->
    <section id="skills">
        <div class="section-title">
            <h2><i class="bi-person-fill-gear"></i> Skills</h2>
        </div><!-- end Section Title -->
        <div id="dynamicSkills" class="content-box text-center">
            <!-- Dynamic list is in Javascript -->
        </div>
    </section>

    <!-- Badges section -->
    <section id="certifications">
        <div class="section-title">
            <h2><i class="bi-trophy-fill"></i> Certification</h2>
        </div>
        <div id="dynamicBadges" class="content-box text-center">
            <!-- Dynamic list is in Javascript -->
        </div>
    </section>
    <!-- end Badges section -->

    <section id="github">
        <div class="section-title">
            <h2><i class="bi-github"></i> Github Stats</h2>
        </div>
        <div id="" class="content-box text-center">
            <img class="github-img" src="https://raw.githubusercontent.com/kuldeep-in/github-stats/main/generated/overview.svg#kd-darkmode" alt="">
            <img class="github-img" src="https://raw.githubusercontent.com/kuldeep-in/github-stats/main/generated/languages.svg#kd-darkmode" alt="">
        </div>
    </section>

    <!-- WorkExperience section -->
    <section id="experience">
        <div class="section-title">
            <h2><i class="bi-briefcase-fill"></i> Work Experience</h2>
        </div>
        <div id="dynamicexperience" class="content-box">
            <!-- Dynamic list is in Javascript -->
        </div>
    </section>
    <!-- end WorkExperience section -->
    <!-- Education section -->
    <section id="education">
        <div class="section-title">
            <h2><i class="bi-mortarboard-fill"></i> Education</h2>
        </div>
        <div class="content-box">
            <div class="resume-box row">
                <div class="col-xs-2 col-sm-2 col-md-2">
                    <img class="company-pic" src="images/Company/unipune.png" alt="">
                </div>
                <div class="col-xs-9 col-sm-9 col-md-10 pull-right">
                    <h5>University of Pune - Bachelor's Degree</h5>
                    <!-- <span>2008 – 2012</span> -->
                    <p>
                        Bachelor of Engineering in Information Technology
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- end Education section -->

    <section id="certificates">
        <div class="section-title">
            <h2>Certificates</h2>
        </div>
        <div class="content-box text-center">
            <div class="certCard">
                <img class="cert-img" src="images/Certificates/5.AzureCertificate.jpg" alt="">
            </div>
            <div class="certCard">
                <img class="cert-img" src="images/Certificates/01-AzSolutionArchitect-cert.png"
                     alt="">
            </div>
            <div class="certCard">
                <img class="cert-img" src="images/Certificates/02-DevOpsExpert-cert.png" alt="">
            </div>
            <div class="certCard">
                <img class="cert-img" src="images/Certificates/03-AzDataEngineer-cert.png" alt="">
            </div>
            <div class="certCard">
                <img class="cert-img" src="images/Certificates/04-DataAnalystAssociate-cert.png"
                     alt="">
            </div>
            <div class="certCard">
                <img class="cert-img" src="images/Certificates/04-DatabaseAdministrator-cert.png"
                     alt="">
            </div>
            <div class="certCard">
                <img class="cert-img" src="images/Certificates/05-AzAdminAssociate-cert.png"
                     alt="">
            </div>
            <div class="certCard">
                <img class="cert-img" src="images/Certificates/06-DevAssociate-cert.png" alt="">
            </div>
        </div>
    </section>
</div>